 @charset "utf-8";
/*reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,input,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;-webkit-background-origin:content-box;background-origin:content-box;}section,header,footer,nav{display:block;margin:0;padding:0}ol,ul{list-style:none}blockquote,q{quotes:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}img{border:0;font-size:0}a{text-decoration:none;}
.cf:before,.cf:after{content:"";display:table}.cf:after{clear:both}.cf{*zoom:1}

@-webkit-keyframes down {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    -webkit-transform: translate3d(0, 40%, 0);
    transform: translate3d(0, 40%, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 80%, 0);
    transform: translate3d(0, 80%, 0);
  }
}

@keyframes down {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    -webkit-transform: translate3d(0, 40%, 0);
    transform: translate3d(0, 40%, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 80%, 0);
    transform: translate3d(0, 80%, 0);
  }
}

@-webkit-keyframes slideInRT {
  0% {
    -webkit-transform: translate(100%,-100%);
    transform: translate(100%,-100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
  }
}

@keyframes slideInRT {
  0% {
    -webkit-transform: translate(100%,-100%);
    -ms-transform: translate(100%,-100%);
    transform: translate(100%,-100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
  }
}

.slideInRT {
  -webkit-animation-name: slideInRT;
  animation-name: slideInRT;
}

@-webkit-keyframes slideInLD {
  0% {
    -webkit-transform: translate(-100%,100%);
    transform: translate(-100%,100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
  }
}

@keyframes slideInLD {
  0% {
    -webkit-transform: translate(-100%,100%);
    -ms-transform: translate(-100%,100%);
    transform: translate(-100%,100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
  }
}

.slideInLD {
  -webkit-animation-name: slideInLD;
  animation-name: slideInLD;
}

.bounceIn1 {
  -webkit-animation-name: bounceIn1;
  animation-name: bounceIn1;
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}
@-webkit-keyframes bounceIn1 {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    -webkit-transform: scale3d(.5, .5, .5);
    transform: scale3d(.5, .5, .5);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn1 {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    -webkit-transform: scale3d(.5, .5, .5);
    -ms-transform: scale3d(.5, .5, .5);
    transform: scale3d(.5, .5, .5);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    -ms-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    -ms-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    -ms-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.shakeI{
  -webkit-animation: shakeI 4s 0s infinite;
  animation: shakeI 4s 0s infinite;
}

@-webkit-keyframes shakeI {
  0%, 86% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  88%, 92%, 96%{
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  90%, 94%, 98%{
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
}
@keyframes shakeI {
  0%, 86% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  88%, 92%, 96%{
    -webkit-transform: translate3d(-5px, 0, 0);
    -ms-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  90%, 94%, 98%{
    -webkit-transform: translate3d(5px, 0, 0);
    -ms-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
}

.stretch{
  -webkit-animation: stretch 4s 0s infinite;
  -webkit-transform-origin: left;
  animation: stretch 4s 0s infinite;
  transform-origin: left;
}
@-webkit-keyframes stretch {
  0%,20%,80%,100%{
    -webkit-transform: scaleX(.33) skew(-45deg);
    transform: scaleX(.33) skew(-45deg);
  }
  35%,65%{
    -webkit-transform: scaleX(1) skew(-15deg);
    transform: scaleX(1) skew(-15deg);
  }
}
@keyframes stretch {
  0%,20%,80%,100%{
    -webkit-transform: scaleX(.33) skew(-45deg);
    -ms-transform: scaleX(.33) skew(-45deg);
    transform: scaleX(.33) skew(-45deg);
  }
  35%,65%{
    -webkit-transform: scaleX(1) skew(-15deg);
    -ms-transform: scaleX(1) skew(-15deg);
    transform: scaleX(1) skew(-15deg);
  }
}

.heightStretch{
  -webkit-animation-name: heightStretch;
  animation-name: heightStretch;
}
@-webkit-keyframes heightStretch {
  0%{
    height: 0;
    width: 0;
  }
  30%{
    width: 10rem;
  }
  100%{
    height: 5.03125rem;
  }
}
@keyframes heightStretch {
  0%{
    height: 0;
  }
  100%{
    height: 5.03125rem;
  }
}

.roll-animate{
  animation: roll-animate 2s 1s infinite;
  transform-origin: 10% 10%;
}
.roll-animate2{
  animation: roll-animate 3s 1s infinite;
  transform-origin: 50% 50%;
}
.roll-animate3{
  animation: roll-animate3 3s 1s infinite;
  transform-origin: 10% 10%;
}
.roll-animate4{
  animation: roll-animate3 2s 0s infinite;
  transform-origin: 50% 50%;
}
@keyframes roll-animate {
  0%,10%,20%,30%,40%,100%{
    transform:rotate(0);
  }
  5%,15%,25%,35%{
    transform:rotate(15deg);
  }
}
@keyframes roll-animate3 {
  40%,100%{
    transform:rotate(4deg);
  }
  0%,10%,20%,30%{
    transform:rotate(-10deg);
  }
  5%,15%,25%,35%{
    transform:rotate(10deg);
  }
}
.swing2{
  -webkit-transform-origin:center center;
  transform-origin:center center;
  -webkit-animation-name:swing;
  animation-name:swing;
}


@-webkit-keyframes rotateIn{
  0%{
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
  }
  100%{
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
  }
}
@keyframes rotate{
  0%{
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
  }
  100%{
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
  }
}
.rotate1{
  -webkit-animation: rotate 2s 0s linear infinite;
  -webkit-transform-origin: center center;
  animation: rotate 2s 0s linear infinite;
  transform-origin: center center;
}
.rotate2{
  -webkit-animation: rotate 4s 0s linear infinite;
  -webkit-transform-origin: center center;
  animation: rotate 4s 0s linear infinite;
  transform-origin: center center;
}
.rotate3{
  -webkit-animation: rotate 8s 0s linear infinite;
  -webkit-transform-origin: center center;
  animation: rotate 8s 0s linear infinite;
  transform-origin: center center;
}

.delay0_25{
  animation-delay: 0.25s;
  -webkit-animation-delay: 0.25s;
}
.delay0_5{
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}
.delay0_75{
  animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
}
.delay1{
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.delay1_25{
  animation-delay: 1.25s;
  -webkit-animation-delay: 1.25s;
}
.delay1_5{
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
.delay1_75{
  animation-delay: 1.75s;
  -webkit-animation-delay: 1.75s;
}
.delay2{
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
.delay2_25{
  animation-delay: 2.25s;
  -webkit-animation-delay: 2.25s;
}
.delay2_5{
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}
.delay2_75{
  animation-delay: 2.75s;
  -webkit-animation-delay: 2.75s;
}
.delay3{
  animation-delay: 3s;
  -webkit-animation-delay: 3s;
}
.delay3_25{
  animation-delay: 3.25s;
  -webkit-animation-delay: 3.25s;
}
.delay3_5{
  animation-delay: 3.5s;
  -webkit-animation-delay: 3.5s;
}
.delay4{
  animation-delay: 4s;
  -webkit-animation-delay: 4s;
}
.delay4_5{
  animation-delay: 4.5s;
  -webkit-animation-delay: 4.5s;
}
.delay5{
  animation-delay: 5s;
  -webkit-animation-delay: 5s;
}
.delay5_5{
  animation-delay: 5.5s;
  -webkit-animation-delay: 5.5s;
}
.delay6{
  animation-delay: 6s;
  -webkit-animation-delay: 6s;
}